.navbar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  background-color: white;
  border-top: 1px solid var(--color-stone-gray);

  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
}

.nav-item {
  list-style: none;
  flex: 1;
  text-align: center;
}

.nav-link {
  display: block;

  text-decoration: none;
  color: var(--color-stone-gray);
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--color-charcoal);
}

.nav-link.active {
  color: var(--color-charcoal);
  font-weight: 700;
}
